@import url("./variables.css");

/* font-family: 'Plus Jakarta Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: "Raleway", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Raleway", sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    transition: 0.3s all ease;
}



/* =======================================================================
    Buttons CSS
========================================================================== */
.btn-black{
    background-color: var(--black);
    color: var(--white);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    border: 1.5px solid var(--black);
    padding: 15px 30px;
    transition: 0.3s all ease;
}
.btn-black:hover{
    background-color: var(--white);
    color: var(--black);
    border-color: var(--black);
}
.btn-white{
    background-color: var(--white);
    color: var(--black);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    border: 1.5px solid var(--black);
    padding: 15px 30px;
    transition: 0.3s all ease;
}
.btn-white:hover{
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
}


/* =======================================================================
    General Common CSS
========================================================================== */
.section-heading{
    margin-bottom: 50px;
}
.section-heading h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 12px;
}
.section-heading p{
    color: #666666;
}

.mb-30px{
    margin-bottom: 30px;
}

/* =======================================================================
    Navbar CSS
========================================================================== */
#main-nav{
    background-color: var(--black);
}
#main-nav .nav-link{
    color: var(--white);
}
#main-nav .nav-item{
    padding: 0 10px;
}
.colored {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background-color: var(--black) !important;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 10;
}
.navbar-toggler{
    background-color: var(--green);
    color: var(--black);
    font-size: 30px;
}
/* =======================================================================
    Main Banner CSS
========================================================================== */
.banner-sec{
    /* background-image: url('https://www.realmeal.ae/assets/images/realmeal/real-meal-plans.jpg'); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://www.realmeal.ae/assets/images/realmeal/real-meal-plans.jpg');
    background-size: cover;
    border-radius: unset;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    height: 650px;
    display: flex;
    align-items: center;
}
.banner-sec .heading{
    font-weight: 400;
    font-size: 68px;
    line-height: 1;
    margin-bottom: 16px;
    text-shadow: 2px 2px #606060!important;
    color: var(--white);
}
.banner-sec .desc{
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* =======================================================================
    pick-your-meal-plan-sec Section CSS
========================================================================== */
.pick-your-meal-plan-sec{
    padding: 70px 0 40px 0;
}
.pick-your-meal-paln-item{
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 1px solid transparent;
    transition: 0.4s all ease;
}
.pick-your-meal-paln-item:hover{
    border-color: var(--black);
}
.pick-your-meal-paln-item .img-box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pick-your-meal-paln-item .content-box{
    padding: 10px 20px 30px 20px;
    text-align: center;
}
.pick-your-meal-paln-item .content-box .title{
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.pick-your-meal-paln-item .content-box .price{
    color: var(--green);
    font-size: 16px;
    font-weight: 600;
}
.pick-your-meal-paln-item .content-box .desc {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}
.pick-your-meal-paln-item .content-box .btn-black{
    border-radius: 20px;
}



/* =======================================================================
    top-picks-from-our-kitchen-sec section CSS
========================================================================== */
.top-picks-from-our-kitchen-sec{
    padding: 70px 0 40px 0;
}

.top-pickes-from-kitchen-item{
    border: 1px solid #80808029;
    border-radius: 20px;
}
.top-pickes-from-kitchen-item .img-box{
    height: 200px;
    width: 100%;
}
.top-pickes-from-kitchen-item .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.top-pickes-from-kitchen-item .content-box{
    background-color: #1d6f401c;
    text-align: center;
    height: 85px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.top-pickes-from-kitchen-item .content-box .type{
    background-color: var(--green);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    width: fit-content;
    margin:  0 auto;
    border-radius: 6px;
    padding: 2px 4px;
    margin-bottom: 10px;
}
.top-pickes-from-kitchen-item .content-box .title{
    color: var(--black);
    font-weight: 600;
    font-size: 16px;
}




/* =======================================================================
    How it Works section CSS
========================================================================== */
.how-it-works-sec{
    padding: 70px 0;
}
.how-it-works-sec .bg-white{
    position: relative;
    box-shadow: 0px 15px 55px rgba(34, 34, 34, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.how-it-works-item{
    padding: 40px 24px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    justify-content: center;
    position: relative;
}
.how-it-works-item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.how-it-works-item:hover{
    transform: scale(1.1);
    border-radius: 10px;
    z-index: 1;
}
.how-it-works-item:hover::after{
    background-color: var(--black);
}
.how-it-works-item .inner-box{
    position: relative;
    text-align: center;
    z-index: 1;
}
.how-it-works-item .inner-box img{
    height: 80px;
}
.how-it-works-item .inner-box .title{
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 600;
    color: var(--black);
}
.how-it-works-item .inner-box .desc{
    line-height: 1.6;
    color: #666666;
    font-size: 1rem;
    height: 80px;
}
.how-it-works-item:hover .inner-box .title,
.how-it-works-item:hover .inner-box .desc{
    color: var(--white);
}

/* =======================================================================
    customer-reviews-sec section CSS
========================================================================== */
.customer-reviews-sec{
    padding: 70px 0 40px 0;
}
.customer-reviews-sec .outer-box{
    background-color: var(--green);
    position: relative;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
}
.customer-review-item{
    text-align: center;
    width: 97%;
    margin: 0 auto;

}
.customer-review-item .review-text{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 75px;
}
.customer-review-item .name{
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
}
#customer-reviews-slider .owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    width: 100%;
}
#customer-reviews-slider .owl-nav .owl-next{
    position: relative;
    right: -10px;
}
#customer-reviews-slider .owl-nav .owl-prev{
    position: relative;
    left: -10px;
}
#customer-reviews-slider .owl-nav button{
    font-size: 30px;
}
#customer-reviews-slider .owl-nav button:hover{
    background-color: transparent;
}

/* =======================================================================
    Learn More Section CSS
========================================================================== */
.learn-more-about-sec{
    padding: 70px 0;
}
.learn-more-about-sec .accordion{
    margin-bottom: 50px;
}
.learn-more-about-sec .accordion-button{
    font-size: 18px;
    font-weight: 400;
    padding: 28px 30px 28px 0;
}
.learn-more-about-sec .accordion-body{
    padding-top: 0;
    width: 50%;
}
.learn-more-about-sec .accordion-button.collapsed::after {
    font-family: 'Font Awesome 5 Pro';
    content: '\f055';
    font-weight: 300;
    float: right;
    margin-left: auto;
    background-image: none;
    font-size: 25px;
}
.learn-more-about-sec .accordion-button::after {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 300;
    font-size: 25px;
    content: '\f056';
    float: right;
    margin-left: auto;
    background-image: none;
}
.learn-more-about-sec .accordion-button:not(.collapsed)::after{
    background-image: none;
    transform: none;
}
.learn-more-about-sec .accordion-item{
    border-radius: 0!important;
    border-left: 0;
    border-right: 0;
}
.learn-more-about-sec .accordion-item:first-of-type .accordion-button{
    border-radius: 0!important;
}
.learn-more-about-sec .accordion-button:not(.collapsed){
    border-radius: 0!important;
    background-color: transparent;
    color: var(--black);
    box-shadow: none;
    border-color: inherit;
    outline: none;
}
.learn-more-about-sec .accordion-button:not(.collapsed):focus{
    border-radius: 0!important;
    background-color: transparent;
    color: var(--black);
    box-shadow: none;
    border-color: inherit;
    outline: none;
}
.learn-more-about-sec .title{
    font-size: 30px;
    font-weight: 600;
    color: var(--black);
}
.learn-more-about-sec .desc{
    color: #666666;
    font-size: 16px;
    margin-bottom: 30px;
}
.learn-more-about-sec .input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border: 1px solid #B9B9B9;
    border-radius: 6px;
}
.learn-more-about-sec .input-group .form-control{
    height: 70px;
    border-radius: 0;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-right: 0;
    background-color: #F8F8F8;
    border: none;
}
.learn-more-about-sec .input-group .form-control:focus{
    box-shadow: none;
    border: none;
    outline: none;
}
/* =======================================================================
    consultaion Sec CSS
========================================================================== */
.consultaion-sec{
    background-color: rgba(21, 21, 21, 0.7);
    padding: 70px 0;
}
.consultaion-form .input-group{
    background-color: transparent;
    margin-bottom: 70px;
}
.consultaion-form .input-group .form-control,
.consultaion-form .input-group .form-select{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--white);
    border-radius: 0;
    color: var(--white);
}
.consultaion-form .input-group .form-select{
    position: relative;
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid var(--white);
    padding: 5px 30px 5px 10px;
    font-size: 16px;
    color: var(--white);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.consultaion-form .input-group .form-control::placeholder{
    color: var(--white);
}
.consultaion-form .input-group .form-control:focus,
.consultaion-form .input-group .form-select:focus{
    box-shadow: none;
    border-color: var(--white);
    outline: none;
}
.consultaion-form .input-group .input-group-text{
    background-color: transparent;
    color: var(--white);
    font-size: 20px;
    border: none;
    border-bottom: 1px solid var(--white);
    border-radius: 0;
}
.consultaion-form .input-group input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
.consultaion-form .input-group input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}






/* =======================================================================
    Blog Section CSS
========================================================================== */
.blog-sec{
    padding: 70px 0 40px 0;
}
.blog-item{
    display: flex ;
    align-items: center;
    justify-content: start;
    margin: 40px 40px;
    background-color: var(--white);
    box-shadow: 0px 15px 55px rgba(34, 34, 34, 0.15);
    border-radius: 10px;
}
.blog-item .img-box{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 35%;
}
.blog-item .img-box img{
    width: 100%;
    height: 255px;
    object-fit: cover;
    transition: 0.3s all ease;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.blog-item:hover .img-box img{
    transform: scale(1.2);
}
.blog-item .content-box{
    padding: 17px 25px;
    width: 65%;
}
.blog-item .content-box .date{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
}
.blog-item .content-box .date i{
    color: #222222;
    font-size: 16px;
}
.blog-item .content-box .title{
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-item .content-box .desc{
    color: #666666;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#blog-slider{
    position: relative;
}
#blog-slider .owl-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 40%;
    width: 100%;
}
#blog-slider .owl-nav button:hover{
    background-color: transparent;
    color: var(--black);
}
#blog-slider .owl-nav button{
    font-size: 30px;
}
#blog-slider .owl-nav .owl-next{
    position: relative;
    right: -20px;
}
#blog-slider .owl-nav .owl-prev{
    position: relative;
    left: -20px;
}
/* =======================================================================
    Custom ScrollBar CSS
========================================================================== */
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 7px;
    height: 4px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--black);
}




/* =======================================================================
    Footer CSS
========================================================================== */
.main-footer{
    background-color: #222222;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 30px;
    color: var(--white);
}
.main-footer .text{
    font-size: 16px;
    color: var(--white);
}
.main-footer .footer-sub-box{
    margin-bottom: 30px;
}
.main-footer .footer-sub-heading{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    color: #fff;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.main-footer .address-box i{
    color: var(--green);
    font-size: 30px;
}
.main-footer .address-box .address-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #CCCCCC;
    margin-bottom: 0;
}
.main-footer .address-box .address-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 0;
}
.main-footer .link-box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-footer .link-box ul li{
    margin-bottom: 20px;
}
.main-footer .link-box ul li a{
    color: #CCCCCC;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.main-footer .social-box ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.main-footer .social-box ul li{
    margin-right: 10px;
}
.main-footer .social-box ul li a img{
    width: 30px;
}

.footer-bottom{
    padding: 20px 0;
}
.footer-bottom p{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 0;
    margin-right: 5px;
}



/* =======================================================================
    Promotional Popup CSS
========================================================================== */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    /* padding: 20px; */
    /* border: 1px solid #000000; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

.popup-content {
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 25px;
}

.promo-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.promo-link:hover {
    background-color: #0056b3;
}





/* =======================================================================
    About Page CSS
========================================================================== */
.about-us-content-sec{
    padding: 70px 0 40px 0;
}
.about-us-content-sec .text{
    font-size: 16px;
    color: var(--black);
    text-align: center;
    margin-bottom: 30px;
    line-height: 28px;
}
.about-video-sec{
    padding-bottom: 50px;
}
.video-box{
    background-image: url('https://www.realmeal.ae/assets/images/realmeal/package/video-thumbnail.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 380px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-box a{
    background-color: var(--black);
    border-radius: 200px;
    color: var(--white);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-box a i{
    font-weight: bold;
}
.video-box a:hover{
    transform: scale(1.2);
}

.mission-item{
    border-radius: 10px;
    background: rgba(34, 34, 34, 0.05);
    text-align: center;
    padding: 30px 12px;
    border: 2px solid transparent;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.mission-item:hover{
    transform: translateY(-10px);
    border: 2px solid var(--green);
    background-color: #fff;
    box-shadow: 0px 15px 55px rgba(34, 34, 34, 0.15);
}
.mission-item .title{
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 600;
    color: var(--green);
}
.mission-item .desc{
    font-size: 14px;
    color: var(--black);
}
.about-last-sec{
    padding: 0px 0 50px 0;
}
.about-last-sec .text{
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 50px;
    text-align: center;
}
.about-last-sec img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}