:root{
    --white: #fff;
    --black: #000;
    --green: #bcecda;
   --orange: #F7941D;
   --blue: #61ABFC;
   --light-text: #989898;
   --purple: #B068AA;
   --heading-text: #152f2e;
   --sky: #9fd9e7;
}
